<form autocomplete="off" [formGroup]="form">
  <mat-card class="form-container">
    <mat-card-title>Contract Lines</mat-card-title>
    <select
      class="custom-select mb-3"
      (change)="changeItem($event)"
      formControlName="itemName"
    >
      <option value="">Choose Item</option>
      <option *ngFor="let item of items" [ngValue]="item">
        {{ item.ITEM }}
      </option>
    </select>
    <!-- Street -->
    <mat-form-field>
      <mat-label>Quantity</mat-label>
      <input
        matInput
        type="number"
        placeholder="1"
        formControlName="quantity"
      />
    </mat-form-field>
    <!-- /Street -->
    <!-- Street -->
    <mat-form-field>
      <mat-label>Price</mat-label>
      <input
        type="number"
        matInput
        placeholder="0.00"
        formControlName="price"
        value=""
      />
    </mat-form-field>
    <!-- /Street -->
    <!-- Street -->
    <mat-form-field>
      <mat-label>Yearly contract amount</mat-label>
      <input
        type="number"
        matInput
        placeholder="0.00"
        formControlName="yearlyContractAmount"
      />
    </mat-form-field>
    <!-- /Street -->
    <mat-form-field>
      <mat-label>Yearly maintenance amount</mat-label>
      <input
        type="number"
        matInput
        placeholder="0.00"
        formControlName="yearlyMaintenanceAmount"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Yearly rental amount</mat-label>
      <input
        type="number"
        matInput
        placeholder="0.00"
        formControlName="yearlyRentalAmount"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Yearly risk surcharge</mat-label>
      <input
        type="number"
        matInput
        placeholder="0.00"
        formControlName="yearlyRiskSurcharge"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Yearly startup costs</mat-label>
      <input
        type="number"
        matInput
        placeholder="0.00"
        formControlName="yearlyStartupCosts"
      />
    </mat-form-field>
  </mat-card>
</form>
