<form autocomplete="off" [formGroup]="form">
  <mat-card class="form-container">
    <mat-card-title>New Contract</mat-card-title>

    <!-- Contract date -->
    <mat-form-field>
      <mat-label>Contract date</mat-label>
      <input
        matInput
        [matDatepicker]="contractDate"
        formControlName="contractDate"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matSuffix
        [for]="contractDate"
      ></mat-datepicker-toggle>
      <mat-datepicker #contractDate></mat-datepicker>
    </mat-form-field>
    <!-- /Contract date -->

    <!-- Duration years -->
    <mat-form-field>
      <mat-label>Duration Years</mat-label>
      <input
        matInput
        type="number"
        placeholder="0"
        formControlName="durationYears"
      />
    </mat-form-field>
    <!-- /Duration years -->

    <!-- Risk factor -->
    <mat-form-field>
      <mat-label>Risk factor</mat-label>
      <input
        type="number"
        matInput
        placeholder="Ex. jane@doe.com"
        formControlName="riskFactor"
      />
    </mat-form-field>
    <!-- /Risk Factor -->

    <!-- age -->
    <mat-form-field>
      <mat-label>Total startup costs</mat-label>
      <input
        type="number"
        matInput
        placeholder="Ex. 43"
        formControlName="totalStartupCosts"
      />
    </mat-form-field>
    <!-- /age -->
  </mat-card>
</form>
